<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found!</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <%- include('./partials/nav.ejs') %>
    </header>
    <main class="page-404">
        <div id="nf404">
            <h1>404</h1>
            <p>
                Page doesn't Exist!
            </p>
        </div>
    </main>
</body>
</html>